<!DOCTYPE html>
<html>
  <head>
    <title>check</title>
    <link rel="stylesheet" type="text/css" href="/static/bundle.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<!-- <%- include partials/header %> -->
  	<div id="root"></div>
  	<script type="text/javascript" src="/static/bundle.js"></script>
  </body>
</html>
