<!DOCTYPE html>
<html>
  <head>
    <title>profile</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<%- include partials/header %>
  	<h1><a href="/cricket/new/team">create team</a></h1>
  	<h1><a href="/cricket/host">host match</a></h1>
  </body>
</html>
