<!DOCTYPE html>
<html>
  <head>
    <title>profile</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<%- include partials/header %>
  	<form action="/cricket/score/update" method='post'>
  		
  	</form>
  </body>
</html>
