root {
  padding: 20px;
}

.daily-list {
  padding: 15px;
  p {
    padding: 5px;
  }
}

// sign up page styling.
.sign-up-wrapper, .log-in-wrapper {
  width: 36vw;
  box-sizing: border-box;
  margin: 70px auto;
  text-align: center;
  // background-color: red;
}



input:focus, button:focus {
  outline: none;
}

.default {
  border: 0;
  width: 35vw;
  font-size: 17px;
}

.input {
  width: 36vw;
  padding: 10px 10px;
  font-size: 20px;
  border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px; 
}


// header navigation bar styling.
.headerWrapper {
  display: flex;
  box-sizing: border-box;
  padding:  18px 70px;
  align-items: center;
}

.navigationheader {
  display: flex;
  float: right;
  position: absolute;
  left: 80%;
}

.basic {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  padding-right: 10px;
  color: rgba(0,0,0,1);
}

.swapingHeader {
  display: flex;
}

.active {
  font-weight: 900;
}


.activeButton {
  font-weight: 900;
  background-color: red;
}










